thumbs.db
.DS_Store

*.ncb
*.suo
*.aps
*.user

*.w?x
*.w?x64
*.uw?x
*.dll
*.exe
/.vs/xPDFSearch/v15
/Backup
/oldproj
/.vs/xPDFSearch/v15
/.vs/xPDFSearch/v15/Browse.VC.opendb
/.vs/xPDFSearch/v15/Browse.VC.db
*.db

browse.VC.db